<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Achievements</key>
	<dict>
		<key>1482212</key>
		<string>1482212</string>
		<key>1482222</key>
		<string>1482222</string>
		<key>1482432</key>
		<string>1482432</string>
		<key>1482442</key>
		<string>1482442</string>
		<key>1482462</key>
		<string>1482462</string>
		<key>1482472</key>
		<string>1482472</string>
		<key>1482482</key>
		<string>1482482</string>
		<key>1482502</key>
		<string>1482502</string>
		<key>1482522</key>
		<string>1482522</string>
	</dict>
</dict>
</plist>
